.navbar-light .navbar-brand {
    background: #00ced1;
    color: white;
}
/* .container {
  padding: 32px;
 }  */
 /* .card + .card { */
  /* margin: 0 0 0 8px;
 } */
.container-fluid {
  padding: 32px;
 } 

::-webkit-textfield-decoration-container {
    background-image: url = "https://www.toptal.com/designers/subtlepatterns/patterns/ignasi_pattern_s.png";
  }
  
  .mt-0 {
    margin-top: 0 !important;
  }
  
  .ml-1 {
    margin-left: ($spacer * .25) !important;
  }
  

.btn {
  border: none;
  background: #00ced1
    
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(92, 87, 87);
  color: rgb(140, 157, 168);
  text-align: center;
}

h2 {
    color: #00ced1
}

.card {
  margin: 50px;
 }
 .card-body {
  padding: 16px;
   } 
 /* .card-img { */
  
 
 .row {
  size: 350px * 350px;
  padding-left: 10px; 
  margin: 10px; 
  /* Justify-content: space-evenly;
  margin: 24px; */
 }
 .footer {
  border-top: 6px solid #00ced1;
  padding-top: 8px};