.navbar-light .navbar-brand {
    background: #00ced1;
    color: white;
}

::-webkit-textfield-decoration-container {
    background-image: url = "https://www.toptal.com/designers/subtlepatterns/patterns/ignasi_pattern_s.png";
  }
  
  .mt-0 {
    margin-top: 0 !important;
  }
  
  .ml-1 {
    margin-left: ($spacer * .25) !important;
  }
  

.btn {
    background: #00ced1
}

h2 {
    color: #00ced1
}
